*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #a8a8a8;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.heading-primary {
  color: #e7f1f9;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 500;
    letter-spacing: 1.2rem;
    line-height: 0.8; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1.05rem;
    padding-bottom: 30rem; }

.heading-secondary {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .15s ease-in;
  background-image: linear-gradient(#0f1821, #4b7896);
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text; }
  .heading-secondary:hover {
    transform: scaleX(1.1) scaleY(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(168, 168, 168, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.4rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 6.5rem !important; }

.u-margin-top-lg {
  margin-top: 8rem !important; }

.u-margin-top-xl {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(168, 168, 168, 0.2);
    transition: all .7s ease-in-out; }
    .card__side--front {
      background-color: #f7f9fb; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom, #5da2d5, #4b7896); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.row {
  max-width: 160.5rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.section-header {
  background-color: #ececec;
  position: relative; }

.header {
  background-color: rgba(93, 162, 213, 0.15);
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-projects {
  background-color: #e7f1f9;
  padding: 18rem 0; }
