*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  color: #232b2b;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.heading-primary {
  color: #e7f1f9;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 500;
    letter-spacing: 1.2rem;
    line-height: 0.8; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        color: #0f1821; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1.05rem;
    padding-bottom: 30rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 1.8rem;
        padding-top: 12rem;
        padding-bottom: 2rem;
        letter-spacing: .5rem;
        color: #0f1821; } }

.heading-secondary {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .15s ease-in;
  background-image: linear-gradient(#0f1821, #4b7896);
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  .heading-secondary:hover {
    transform: scaleX(1.1) scaleY(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(168, 168, 168, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-center-div {
  margin-left: auto !important;
  margin-right: auto !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.4rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-md {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-lg {
  margin-bottom: 6.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-lg {
      margin-bottom: 4.5rem !important; } }

.u-margin-top-lg {
  margin-top: 8rem !important; }

.u-margin-top-xl {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba(168, 168, 168, 0.2);
    transition: all .7s ease-in-out; }
    .card__side--front {
      background-color: #f7f9fb; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to top, #5da2d5, #0f1821); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 40%;
    box-shadow: 0 1.5rem 2rem rgba(168, 168, 168, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(3, 17, 17, 0.2); } }
    .composition__photo--p1 {
      left: 2rem;
      top: 8rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          display: none; } }
    .composition__photo--p2 {
      right: 3rem;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          display: none; } }
    .composition__photo--p3 {
      right: 0;
      top: 18rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          transform: scale(1.3);
          z-index: 30; } }
    .composition__photo--p4 {
      right: 19rem;
      top: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p4 {
          display: none; } }
    .composition__photo--p5 {
      left: -1rem;
      top: 21rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p5 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 5; } }
    .composition__photo--p6 {
      right: 17rem;
      top: 33rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p6 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.3rem solid #4b7896;
      transform: scale(1.3) translateY(-0.5rem);
      z-index: 3; }

.map {
  width: 100%;
  height: 40em; }

.footer {
  background-color: #4b7896;
  padding: 10rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ececec;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__portrait-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__portrait-box {
        margin-bottom: 6rem; } }
  .footer__portrait {
    width: 20rem;
    height: auto;
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    position: absolute; }
  .footer__navigation {
    border-top: 1px solid #ececec;
    padding: 2rem 0;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #ececec;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 2rem;
    transition: all .15s; }
  .footer__link:hover, .footer__link:active {
    color: #f3d250;
    transform: scale(1.2); }
  .footer__info {
    text-align: center;
    border-top: 1px solid #ececec;
    padding-top: 2rem;
    width: 60%;
    float: right;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__info {
        width: 100%;
        float: none; } }

.row {
  max-width: 150rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-single {
    width: 90rem; }
    @media only screen and (max-width: 56.25em) {
      .row .col-single {
        width: 100%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.section-header {
  background-color: #ececec;
  position: relative; }

.header {
  background-color: rgba(93, 162, 213, 0.15);
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-color: #e7f1f9; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #f7f9fb;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 7rem;
  border-radius: 50%;
  z-index: 12;
  box-shadow: 0 1rem 3rem rgba #031111, 0.1;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 7.5rem;
  background-image: radial-gradient(#e7f1f9, #0f1821);
  z-index: 10;
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.74, -0.29, 0.13, 1.58); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }
  .navigation__item--directions {
    font-size: 1.5rem;
    color: #f7f9fb; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #f7f9fb;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(110deg, transparent 0%, transparent 50%, #f7f9fb 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #5da2d5;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2.5px;
    background-color: #353839;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s ease-in;
    backface-visibility: hidden; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-projects,
.section-about {
  background-color: #e7f1f9;
  padding: 12rem 5rem; }
