$color-primary: #5da2d5;
$color-primary-light: #90ccf4;

$color-secondary: #f3d250;

$color-tertiary: #f78888;

$color-gray-light: #ececec;
$color-gray-dark: #353839;

$color-white: #f7f9fb;

$color-black-dark: #031111;
$color-black-soft: #232b2b;

$default-font-size: 1.6rem;