// Colors
$color-primary: #5da2d5;
$color-primary-light: #e7f1f9;
$color-primary-medium: #4b7896;
$color-primary-dark: #0f1821;

$color-secondary: #f3d250;

$color-tertiary: #f78888;

$color-gray-light: #ececec;
$color-gray-medium: #a8a8a8;
$color-gray-dark: #353839;

$color-white: #f7f9fb;

$color-black-dark: #031111;
$color-black-soft: #232b2b;

// Font Size
$default-font-size: 1.6rem;

// Grid Padding
$grid-width: 160.5rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;